@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 80px;
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

button {
    cursor: pointer;
}

p {
    line-height: 1.5;
}

.purple {
    color: #7342d6;
}

.logo {
    width: 175px
}

/* Navigation section */

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 10px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 5px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* Landing section */

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:active {
    transform: translateY(2px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.header__image--wrapper {
    padding: 20px;
}

/* Features section */